footer {
  padding: 3rem 0;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.5s linear;
}

footer p {
  color: rgba(255, 255, 255, 0.99);
  line-height: 1.5em;
}

footer small {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

footer:hover {
  border-bottom: 7px solid #41d8d0;
}

@media (max-width: 700px) {
  footer p {
    font-size: 0.875rem;
    font-weight: lighter;
  }
}
